.navigation-bar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 8rem;
  height: 3rem;
  border-radius: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;  /* 화면에서 가장 아래로 위치시킴, 아래로 부터 0만큼 떨어짐 */
}
.navigation-bar span {
  color: black;
  font-size: 1.5rem;
}
.find-symbol-licked {
  font-weight: 600;
}