@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import "./reset.css";
@import "./variable.css";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "./navigation-bar.css";
@import "./mypage.css";
@import "./media-query.css";

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-purple);
  color: white;
}
input {
  border: none;
  outline: none;
  appearance: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-relative {
  position: relative;
}